<form *ngFor="let user of users">
    <div class="form-group">
      <label >Form Name</label>
      <input type="text" class="form-control" value="{{user.formName}}">
    </div>
    <div class="form-group">
        <label >Description</label>
        <input  type="text" class="form-control" value="{{user.description}}">
      </div>
      <div class="form-group">
          <label >İsim</label>
          <input  type="text" class="form-control" value="{{user.fields.name}}">
        </div>
        <div class="form-group">
      <label >Soyisim	</label>
      <input  type="text" class="form-control" value="{{user.fields.surName}}" >
    </div>
    <div class="form-group">
        <label >Yaş</label>
        <input  type="number" class="form-control" value="{{user.fields.age}}">
      </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>