<div class="container-fluid ">
  <div class="row ">
    <div class="col-md-5 p-0">
        <form *ngFor="let form of forms">
            <div class="form-group">
              <label >Form Name</label>
              <input type="text" class="form-control" value="{{form.formName}}">
            </div>
            <div class="form-group">
                <label >Description</label>
                <input  type="text" class="form-control" value="{{form.description}}">
              </div>
              <div class="form-group">
                  <label >İsim</label>
                  <input  type="text" class="form-control" value="{{form.fields.name}}">
                </div>
                <div class="form-group">
              <label >Soyisim	</label>
              <input  type="text" class="form-control" value="{{form.fields.surName}}" >
            </div>
            <div class="form-group">
                <label >Yaş</label>
                <input  type="number" class="form-control" value="{{form.fields.age}}">
              </div>
            
            <button type="submit" class="btn btn-primary">Güncelle</button>
          </form>
    </div>
  </div> 
</div>