<a class="list-group-item" data-toggle="modal" data-target="#addFormModal">Form Ekle</a>

<div class="modal fade" id="addFormModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >Test Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" (click)="resetForm()">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formAddForm" (ngSubmit)="add()">
                    <div class="form-group">
                        <label>İsim</label>
                        <input type="text" class="form-control" formControlName="name" placeholder="İsminizi giriniz.">
                        <div class="alert alert-danger"
                            *ngIf="formAddForm.get('name').hasError('required') && formAddForm.get('name').dirty">İsim
                            Alanı Boş Geçilemez</div>
                    </div>
                    <div class="form-group">
                        <label>Soyisim</label>
                        <input type="text" class="form-control" formControlName="surName"
                            placeholder="Soyadinizi giriniz.">
                            <div class="alert alert-danger"
                            *ngIf="formAddForm.get('surName').hasError('required') && formAddForm.get('surName').dirty" >Soyadı
                            Alanı Boş Geçilemez!</div>
                    </div>
                    <div class="form-group">
                        <label>Yaş</label>
                        <input type="number" class="form-control" formControlName="age" placeholder="Yasinizi Giriniz.">
                        <div class="alert alert-danger"
                            *ngIf="formAddForm.get('age').hasError('min') && formAddForm.get('age').hasError('max')" >Gecerli araliklarda yas giriniz!</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="resetForm()">Kapat</button>
                        <button type="submit" class="btn btn-primary" [disabled]="formAddForm.invalid" >Ekle</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>

